<!--&lt;!&ndash; navbar.html &ndash;&gt;-->
<!--<nav class="navbar navbar-expand-lg bg-body-tertiary">-->
<!--    &lt;!&ndash; Conteúdo da navbar &ndash;&gt;-->

<!--    <link rel="stylesheet" type="text/css" href="/verbum-ecc/css/login.css">-->
<!--    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">-->
<!--    <link href="https://getbootstrap.com/docs/5.3/assets/css/docs.css" rel="stylesheet">-->
<!--    <div class="container-fluid">-->
<!--        <div class="container">-->
<!--            <a class="navbar-brand" href="home">-->
<!--                &lt;!&ndash;            <img src="/static/images/ECC.jpg" width="30" height="24" alt="Verbum Software">&ndash;&gt;-->
<!--                Verbum Software-->
<!--            </a></div>-->
<!--        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">-->
<!--            <span class="navbar-toggler-icon"></span>-->
<!--        </button>-->
<!--        <div class="collapse navbar-collapse" id="navbarNavDropdown">-->
<!--            <ul class="navbar-nav">-->
<!--&lt;!&ndash;                <li class="nav-item dropdown">&ndash;&gt;-->
<!--&lt;!&ndash;                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">&ndash;&gt;-->
<!--&lt;!&ndash;                        Diocese&ndash;&gt;-->
<!--&lt;!&ndash;                    </a>&ndash;&gt;-->
<!--&lt;!&ndash;                    <ul class="dropdown-menu">&ndash;&gt;-->
<!--&lt;!&ndash;                        <li><a class="dropdown-item" onclick="viewDioceses()">Ver Diocese</a></li>&ndash;&gt;-->
<!--&lt;!&ndash;                        <li><a class="dropdown-item" href="#">Editar Diocese</a></li>&ndash;&gt;-->
<!--&lt;!&ndash;                    </ul>&ndash;&gt;-->
<!--&lt;!&ndash;                </li>&ndash;&gt;-->
<!--&lt;!&ndash;                <li class="nav-item dropdown">&ndash;&gt;-->
<!--&lt;!&ndash;                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">&ndash;&gt;-->
<!--&lt;!&ndash;                        Setoriais&ndash;&gt;-->
<!--&lt;!&ndash;                    </a>&ndash;&gt;-->
<!--&lt;!&ndash;                    <ul class="dropdown-menu">&ndash;&gt;-->
<!--&lt;!&ndash;                        <li><a class="dropdown-item" onclick="viewSetores()">Ver Setoriais</a></li>&ndash;&gt;-->
<!--&lt;!&ndash;                        <li><a class="dropdown-item" onclick="createSetor()">Criar Setorial</a></li>&ndash;&gt;-->
<!--&lt;!&ndash;                    </ul>&ndash;&gt;-->
<!--&lt;!&ndash;                </li>&ndash;&gt;-->
<!--&lt;!&ndash;                <li class="nav-item dropdown">&ndash;&gt;-->
<!--&lt;!&ndash;                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">&ndash;&gt;-->
<!--&lt;!&ndash;                        Paróquia&ndash;&gt;-->
<!--&lt;!&ndash;                    </a>&ndash;&gt;-->
<!--&lt;!&ndash;                    <ul class="dropdown-menu">&ndash;&gt;-->
<!--&lt;!&ndash;                        <li><a class="dropdown-item" onclick="viewParoquias()">Ver Paróquias</a></li>&ndash;&gt;-->
<!--&lt;!&ndash;                        <li><a class="dropdown-item" onclick="createParoquia()">Criar Paróquia</a></li>&ndash;&gt;-->
<!--&lt;!&ndash;                    </ul>&ndash;&gt;-->
<!--&lt;!&ndash;                </li>&ndash;&gt;-->
<!--                <li class="nav-item dropdown">-->
<!--                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">-->
<!--                        Casais-->
<!--                    </a>-->
<!--                    <ul class="dropdown-menu">-->
<!--                        <li><a class="dropdown-item" onclick="viewCasal()">Ver Casais</a></li>-->
<!--                        <li><a class="dropdown-item" onclick="createCasalForm()">Criar Casal</a></li>-->
<!--                    </ul>-->
<!--                </li>-->
<!--                <li class="nav-item dropdown">-->
<!--                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">-->
<!--                        Usuários-->
<!--                    </a>-->
<!--                    <ul class="dropdown-menu">-->
<!--                        <li><a class="dropdown-item" onclick="verUsuarios()">Ver Usuários</a></li>-->
<!--                        <li><a class="dropdown-item" onclick="createUsuario()">Criar Usuário</a></li>-->
<!--                    </ul>-->
<!--                </li>-->
<!--                <button type="button" class="btn-done" onclick="sair()"> Sair </button>-->
<!--            </ul>-->
<!--        </div>-->
<!--    </div>-->
<!--</nav>-->
<!--<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>-->
<!--&lt;!&ndash;    <script>&ndash;&gt;-->
<!--&lt;!&ndash;        const token = localStorage.getItem('jwtToken')&ndash;&gt;-->
<!--&lt;!&ndash;        function createDiocese() {&ndash;&gt;-->
<!--&lt;!&ndash;            window.location.href = '/verbum-ecc/v1/diocese/form';&ndash;&gt;-->
<!--&lt;!&ndash;        }&ndash;&gt;-->

<!--&lt;!&ndash;        function viewDioceses() {&ndash;&gt;-->
<!--&lt;!&ndash;            window.location.href = '/verbum-ecc/v1/diocese/view';&ndash;&gt;-->
<!--&lt;!&ndash;        }&ndash;&gt;-->

<!--&lt;!&ndash;        function createSetor() {&ndash;&gt;-->
<!--&lt;!&ndash;            window.location.href = '/verbum-ecc/v1/setor/form';&ndash;&gt;-->
<!--&lt;!&ndash;        }&ndash;&gt;-->

<!--&lt;!&ndash;        function viewSetores() {&ndash;&gt;-->
<!--&lt;!&ndash;            window.location.href = '/verbum-ecc/v1/setor/view';&ndash;&gt;-->
<!--&lt;!&ndash;        }&ndash;&gt;-->

<!--&lt;!&ndash;        function createParoquia() {&ndash;&gt;-->
<!--&lt;!&ndash;            window.location.href = '/verbum-ecc/v1/paroquia/form';&ndash;&gt;-->
<!--&lt;!&ndash;        }&ndash;&gt;-->

<!--&lt;!&ndash;        function viewParoquias() {&ndash;&gt;-->
<!--&lt;!&ndash;            window.location.href = '/verbum-ecc/v1/paroquia/view';&ndash;&gt;-->
<!--&lt;!&ndash;        }&ndash;&gt;-->

<!--&lt;!&ndash;        function createCasal() {&ndash;&gt;-->
<!--&lt;!&ndash;            window.location.href = '/verbum-ecc/v1/casal/form';&ndash;&gt;-->
<!--&lt;!&ndash;        }&ndash;&gt;-->

<!--&lt;!&ndash;        function viewCasal() {&ndash;&gt;-->
<!--&lt;!&ndash;            window.location.href = '/verbum-ecc/v1/casal/view';&ndash;&gt;-->
<!--&lt;!&ndash;        }&ndash;&gt;-->

<!--&lt;!&ndash;        function createUsuario() {&ndash;&gt;-->
<!--&lt;!&ndash;            window.location.href = '/verbum-ecc/v1/usuario/form'&ndash;&gt;-->
<!--&lt;!&ndash;        }&ndash;&gt;-->

<!--&lt;!&ndash;        function verUsuarios() {&ndash;&gt;-->
<!--&lt;!&ndash;            window.location.href = '/verbum-ecc/v1/usuario/view'&ndash;&gt;-->
<!--&lt;!&ndash;        }&ndash;&gt;-->

<!--&lt;!&ndash;        function sair() {&ndash;&gt;-->
<!--&lt;!&ndash;            window.location.href = '/verbum-ecc/v1/login';&ndash;&gt;-->
<!--&lt;!&ndash;            localStorage.clear();&ndash;&gt;-->
<!--&lt;!&ndash;        }&ndash;&gt;-->

<!--&lt;!&ndash;        async function fetchData(url) {&ndash;&gt;-->
<!--&lt;!&ndash;            const token = localStorage.getItem('jwtToken');&ndash;&gt;-->
<!--&lt;!&ndash;            const response = await fetch(url, {&ndash;&gt;-->
<!--&lt;!&ndash;                headers: {&ndash;&gt;-->
<!--&lt;!&ndash;                    'Authorization': `Bearer ${token}`&ndash;&gt;-->
<!--&lt;!&ndash;                }&ndash;&gt;-->
<!--&lt;!&ndash;            });&ndash;&gt;-->
<!--&lt;!&ndash;            // ... (process response)&ndash;&gt;-->
<!--&lt;!&ndash;        }&ndash;&gt;-->
<!--&lt;!&ndash;    </script>&ndash;&gt;-->