<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Atualizar Casal</title>
    <link rel="stylesheet" type="text/css" href="/verbum-ecc/css/create_casal.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://getbootstrap.com/docs/5.3/assets/css/docs.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/inputmask/5.0.7-beta.19/jquery.inputmask.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/verbum-ecc/js/functions.js"></script>
</head>
<body>
<div id="navbar" th:replace="~{fragments/navbar :: navbar}"></div>
<h1>Atualizar Cadastro de Casal</h1>
<form onsubmit="updateCasal(event);">
    <input type="hidden" id="idCasal" th:value="${casal.id}" />
    <input type="hidden" id="idEle" th:value="${casal.ele.id}" />
    <input type="hidden" id="idEla" th:value="${casal.ela.id}" />
    <!-- Seção Ele -->
    <h3>Dados Ele</h3>
    <div class="grid-section">
        <div>
            <label for="nomeEsposo">Nome do Esposo:</label>
            <input type="text" id="nomeEsposo" th:value="${casal.ele.nome}" required />
        </div>
        <div>
            <label for="apelidoEsposo">Apelido do Esposo:</label>
            <input type="text" id="apelidoEsposo" th:value="${casal.ele.apelido}" required />
        </div>
        <div>
            <label for="telefoneEsposo">Telefone do Esposo:</label>
            <input type="text" id="telefoneEsposo" th:value="${casal.ele.telefone}" required />
        </div>
        <div>
            <label for="emailEsposo">Email do Esposo:</label>
            <input type="email" id="emailEsposo" th:value="${casal.ele.email}" required />
        </div>
        <div>
            <label for="dataNascimentoEsposo">Data de Nascimento do Esposo:</label>
            <input type="date" id="dataNascimentoEsposo" th:value="${casal.ele.dataNascimento}" required />
        </div>
        <div>
            <label for="dataFalecimentoEsposo">Se o esposo tiver FALECIDO, digite a data do óbito abaixo:</label>
            <input type="date" id="dataFalecimentoEsposo" th:value="${casal.ele.dataFalecimento}"/>
        </div>
    </div>

    <!-- Seção Ela -->
    <h3>Dados Ela</h3>
    <div class="grid-section">
        <div>
            <label for="nomeEsposa">Nome da Esposa:</label>
            <input type="text" id="nomeEsposa" th:value="${casal.ela.nome}" required />
        </div>
        <div>
            <label for="apelidoEsposa">Apelido da Esposa:</label>
            <input type="text" id="apelidoEsposa" th:value="${casal.ela.apelido}" required />
        </div>
        <div>
            <label for="telefoneEsposa">Telefone da Esposa:</label>
            <input type="text" id="telefoneEsposa" th:value="${casal.ela.telefone}" required />
        </div>
        <div>
            <label for="emailEsposa">Email da Esposa:</label>
            <input type="email" id="emailEsposa" th:value="${casal.ela.email}" required />
        </div>
        <div>
            <label for="dataNascimentoEsposa">Data de Nascimento da Esposa:</label>
            <input type="date" id="dataNascimentoEsposa" th:value="${casal.ela.dataNascimento}" required />
        </div>
        <div>
            <label for="dataFalecimentoEsposa">Se a esposa tiver FALECIDO, digite a data do óbito abaixo:</label>
            <input type="date" id="dataFalecimentoEsposa" th:value="${casal.ela.dataFalecimento}"/>
        </div>
    </div>

    <!-- Seção Casal -->
    <h3>Dados do casal</h3>
    <div class="grid-section">
        <div>
            <label for="dataCasamentoReligioso">Data do Casamento Religioso:</label>
            <input type="date" id="dataCasamentoReligioso" th:value="${casal.dataCasamentoReligioso}" />
        </div>
        <div>
            <label for="dataCasamentoCivil">Data do Casamento Civil:</label>
            <input type="date" id="dataCasamentoCivil" th:value="${casal.dataCasamentoCivil}" required />
        </div>
    </div>
    <div class="grid-section">
        <div>
            <label for="endereco">Endereço:</label>
            <input type="text" id="endereco" th:value="${casal.endereco}" required />
        </div>
        <div>
            <label for="bairro">Bairro:</label>
            <input type="text" id="bairro" th:value="${casal.bairro}" required />
        </div>
        <div>
            <label for="cidade">Cidade:</label>
            <input type="text" id="cidade" th:value="${casal.cidade}" required />
        </div>
        <div>
            <label for="estado">Estado:</label>
            <input type="text" id="estado" th:value="${casal.estado}" required />
        </div>
    </div>
    <div class="grid-section">
        <div>
            <label for="paroquiaEcc">Paróquia ECC:</label>
            <input type="text" id="paroquiaEcc" th:value="${casal.paroquiaEcc}" required />
        </div>
        <div>
            <label for="paroquiaAtual">Paróquia Atual:</label>
            <input type="text" id="paroquiaAtual" th:value="${casal.paroquiaAtual}" required />
        </div>
    </div>
    <div class="grid-section">
        <div>
            <label for="dataPrimeiraEtapa">Data da Primeira Etapa:</label>
            <input type="date" id="dataPrimeiraEtapa" th:value="${casal.dataPrimeiraEtapa}" required />
        </div>
        <div>
            <label for="dataSegundaEtapa">Data da Segunda Etapa:</label>
            <input type="date" id="dataSegundaEtapa" th:value="${casal.dataSegundaEtapa}" />
        </div>
        <div>
            <label for="dataTerceiraEtapa">Data da Terceira Etapa:</label>
            <input type="date" id="dataTerceiraEtapa" th:value="${casal.dataTerceiraEtapa}" />
        </div>
        <div>
            <label for="isActive">Ativo:</label>
            <input type="checkbox" id="isActive" th:checked="${casal.isActive}" />
        </div>
    </div>
    <div>
        <button type="submit">Update</button>
        <button type="reset" class="btn-clear" onclick="clear()"> Limpar </button>
        <button type="button" class="btn-cancel" onclick="cancel()"> Cancelar </button>
    </div>
</form>
</body>
<footer th:replace="~{fragments/footer :: footer}"></footer>
<script>
    window.onload = async function() {
        const paroquiaEccId = /*[[${casal.paroquiaEcc}]]*/ '[[${casal.paroquiaEcc}]]';
        const paroquiaAtualId = /*[[${casal.paroquiaAtual}]]*/ '[[${casal.paroquiaAtual}]]';

        const paroquiaEccName = await fetchParoquiaName(paroquiaEccId);
        const paroquiaAtualName = await fetchParoquiaName(paroquiaAtualId);

        document.getElementById('paroquiaEcc').value = paroquiaEccName;
        document.getElementById('paroquiaAtual').value = paroquiaAtualName;
    };

    async function updateCasal(event) {
        event.preventDefault();

        const id = document.getElementById('idCasal').value;
        const conjugeEle = {
            id: document.getElementById('idEle').value,
            nome: document.getElementById('nomeEsposo').value,
            apelido: document.getElementById('apelidoEsposo').value,
            telefone: document.getElementById('telefoneEsposo').value,
            email: document.getElementById('emailEsposo').value,
            dataNascimento: document.getElementById('dataNascimentoEsposo').value,
            dataFalecimento: document.getElementById('dataFalecimentoEsposo').value
        };

        const conjugeEla = {
            id: document.getElementById('idEla').value,
            nome: document.getElementById('nomeEsposa').value,
            apelido: document.getElementById('apelidoEsposa').value,
            telefone: document.getElementById('telefoneEsposa').value,
            email: document.getElementById('emailEsposa').value,
            dataNascimento: document.getElementById('dataNascimentoEsposa').value,
            dataFalecimento: document.getElementById('dataFalecimentoEsposa').value
        };

        const casalData = {
            ele: conjugeEle,
            ela: conjugeEla,
            dataCasamentoReligioso: document.getElementById('dataCasamentoReligioso').value,
            dataCasamentoCivil: document.getElementById('dataCasamentoCivil').value,
            endereco: document.getElementById('endereco').value,
            bairro: document.getElementById('bairro').value,
            cidade: document.getElementById('cidade').value,
            estado: document.getElementById('estado').value,
            paroquiaEcc: document.getElementById('paroquiaEcc').value,
            paroquiaAtual: document.getElementById('paroquiaAtual').value,
            dataPrimeiraEtapa: document.getElementById('dataPrimeiraEtapa').value,
            dataSegundaEtapa: document.getElementById('dataSegundaEtapa').value,
            dataTerceiraEtapa: document.getElementById('dataTerceiraEtapa').value,
            isActive: document.getElementById('isActive').checked
        };

        const response = await fetch(`/verbum-ecc/v1/casal/${id}`, {
            method: 'PATCH',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(casalData)
        });

        if (response.ok) {
            alert('Casal atualizado com sucesso!');
            clear();
            viewCasais();
        } else {
            alert('Erro ao atualizar casal.');
        }
    }

    function clear() {
        document.getElementById('nomeEsposo').value = '';
        document.getElementById('apelidoEsposo').value = '';
        document.getElementById('telefoneEsposo').value = '';
        document.getElementById('emailEsposo').value = '';
        document.getElementById('dataNascimentoEsposo').value = '';

        document.getElementById('nomeEsposa').value = '';
        document.getElementById('apelidoEsposa').value = '';
        document.getElementById('telefoneEsposa').value = '';
        document.getElementById('emailEsposa').value = '';
        document.getElementById('dataNascimentoEsposa').value = '';

        document.getElementById('dataCasamentoReligioso').value = '';
        document.getElementById('dataCasamentoCivil').value = '';
        document.getElementById('endereco').value = '';
        document.getElementById('bairro').value = '';
        document.getElementById('cidade').value = '';
        document.getElementById('estado').value = '';
        document.getElementById('paroquiaEcc').value = '';
        document.getElementById('paroquiaAtual').value = '';
        document.getElementById('dataPrimeiraEtapa').value = '';
        document.getElementById('dataSegundaEtapa').value = '';
        document.getElementById('dataTerceiraEtapa').value = '';
        document.getElementById('isActive').checked = false;
    }

    function viewCasais() {
        window.location.href = '/verbum-ecc/v1/casal/ver-casais';
    }

    function cancel() {
        window.location.href = '/verbum-ecc/v1/home';
    }
</script>
</html>